<h2>{{'IMPORT_TRANSACTIONS' | translate}}</h2>

<form name="importTransactionsForm" ng-submit="importTransactionsCtrl.submit(myFile)">
  <p>{{'IMPORT_NOTE' | translate}}</p>
  <label>
    {{'IMPORT_TRANSACTIONS_FILE' | translate}}
    <input type="file"
           accept=".csv"
           name="myFile"
           file-read="myFile"
           required>
    <div ng-messages="importTransactionsForm.file.$error"
         ng-if="importTransactionsForm.file.$dirty">
      <div ng-message="required" class="message">{{'FIELD_REQUIRED' | translate}}</div>
    </div>
  </label>

  <div class="message message--main" ng-if="importTransactionsCtrl.error">{{'BACKUP_FILE_CORRUPTED' | translate}}</div>

  <footer>
    <button class="primary"
            ng-disabed="importTransactionsForm.$invalid"
            ladda="importTransactionsCtrl.loading && !importTransactionsCtrl.error">{{'IMPORT' | translate}}</button>
    <button ng-click="closeThisDialog()">{{'CANCEL' | translate}}</button>
  </footer>
</form>
