<ul class="dropdown">
    <li class="dropdown__item" bulk-add-cat-transactions="bulkEditTransactions" manager="manager" master-categories="masterCategories"
    amc="amc" categories="categories">
      <span translate="BULK_ADD_TO_CATEGORY" translate-values="{number: accountCtrl.selectedTransactions.length}"></span>
    </li>
    <li class="dropdown__item" ng-click="bulkEditTransactionsCtrl.removeAll(bulkEditTransactions, $event)" translate="DELETE"></li>
</ul>
