<!--<ul class="dropdown">-->
  <!--<li>Test 1</li>-->
  <!--<li>{{variable1}}</li>-->
  <!--<li>{{variable2}}</li>-->

  <!--<li ng-repeat="masterCategory in masterCategories">-->
    <!--<ul>-->
      <!--<li ng-repeat="category in masterCategory.categories | filter : filterCustomFilterer as filteredCategories">-->
        <!--{{category.name}}-->
      <!--</li>-->
    <!--</ul>-->
  <!--</li>-->

<!--</ul>-->
<h3 class="dropdown__header">{{'BUDGET_CATEGORIES' | translate}}</h3>


<div class="dropdown__scroll-container" scroll-container>
  <div class="dropdown__empty" ng-if="!items.length" translate="NO_CATEGORIES_MATCHING" translate-values="{text: userInput}"></div>

  <ul class="dropdown dropdown--padding">
    <!--<li ng-if="!disableSplit">-->
      <!--<ul class="dropdown" ng-repeat="split in splits | filter : filterCustomFilterer">-->
        <!--<li class="dropdown__item"-->
            <!--ng-click="submit(split)"-->
            <!--ng-class="{'dropdown__item&#45;&#45;selected': split === selected}"-->
            <!--scroll-into-view-if="split === selected"><i class="fa fa-bars"></i> {{split.name}}</li>-->
      <!--</ul>-->
    <!--</li>-->
    <li>
      <div class="dropdown__header-item" ng-if="filteredIncomes.length">{{'INCOME' | translate}}</div>
      <ul class="dropdown" ng-repeat="income in incomes | filter : filterCustomFilterer as filteredIncomes">
        <li class="dropdown__item dropdown__item--indented"
            ng-class="{'dropdown__item--selected': income === selected}"

            ng-click="bulkAddCatTransactionsCtrl.addIncome(bulkAddCatTransactions, $event, income)"
            scroll-into-view-if="income === selected">
          <!--ng-click="submit(income)"-->
          <div class="dropdown__item-content">{{income.name}}</div>
        </li>
      </ul>
    </li>
    <li ng-repeat="masterCategory in masterCategories">
      <div class="dropdown__header-item" ng-if="filteredCategories.length">{{masterCategory.name}}</div>
      <ul class="dropdown">
        <li class="dropdown__item dropdown__item--indented"
            ng-repeat="category in masterCategory.categories | filter : filterCustomFilterer as filteredCategories"
            ng-class="{'dropdown__item--selected': category === selected}"
            ng-click="bulkAddCatTransactionsCtrl.addCat(bulkAddCatTransactions, $event, category)"
            scroll-into-view-if="category === selected"><!--ng-click="submit(category)"-->
          <div class="dropdown__item-content">{{category.name}}</div>
          <div class="dropdown__item-aside"
               ng-class="{'dropdown__item-aside--negative': getCategoryBalance(category.id, transactionDate) < 0,
                          'dropdown__item-aside--positive': getCategoryBalance(category.id, transactionDate) > 0}">{{getCategoryBalance(category.id, transactionDate) | intCurrency : true : $parent.$parent.$parent.$parent.dbCtrl.currencyDigits | currency : $parent.$parent.$parent.$parent.dbCtrl.currencySymbol : $parent.$parent.$parent.$parent.dbCtrl.currencyDigits}}</div>
        </li>
      </ul>
    </li>
  </ul>
</div>

